/* -------------- TABLE OF CONTENTS -------------- /
/*                                                */
/*                   1. Universal                 */
/* 1.1 Full Page                                  */
/* 1.2 Header                                     */
/* 1.3 Main                                       */
/* 1.4 Footer                                     */
/*                                                */
/*              2. Media Query - Desktop          */
/* 2.1 Header                                     */
/* 2.2 Main                                       */
/* 2.3 Footer                                     */
/*                                                */
/*              3. Media Query - Tablet           */
/* 3.1 Header                                     */
/* 3.2 Main                                       */
/* 3.3 Footer                                     */
/*                                                */
/*              4. Media Query - Mobile           */
/* 3.1 Header                                     */
/* 3.2 Main                                       */
/* 3.3 Footer                                     */
/* ---------------------------------------------- */


/* ---------------- 1. Universal ---------------- */
/* -- 1.1 Full Page -- */
.text-highlight--light-blue {
    color: rgba(30, 175, 222, 1);
  }

  *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }


/* -- 1.2 Header -- */
.page-header {
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
  }

  .page-header__logo {
    display: flex;
    font-size: 36px;
    font-weight: bold;
    gap: 10px;
    align-items: center;
  }

  .page-header__inner {
    display: flex;
    
  }

  .page-header__nav {
    display: flex;
    width: 100%;
  }

  .nav-button {
    width: 100%;
    text-align: center;
    padding: 15px;
  }

  .page-banner {
    height: 40rem;
    display: none;
    align-items: flex-end;
    background-image: url("/banner\ 1.png"); 
    background-position: center;  
    background-size: contain;      
    width: 100%;
  }

  img{
    width: 100%;
  }

  .page-banner__flags {
    position: absolute;
    margin-bottom: 16rem;
    margin-left: 3rem;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .page-banner__flag {
    margin-top: 6px;
    padding: 1rem;
    list-style: none;
    background-color: #EDF4FB;
  }

  .page-banner__flag--dark-blue {
    border-left: 4px solid darkblue;
  }

  .page-banner__flag--red {
    border-left: 4px solid red;
  }

  .page-banner__flag--yellow {
    border-left: 4px solid yellow;
  }

  .nav-button {
    border: none;
    padding-top: 30px;
  }

  body {
    margin: 0px;
    padding: 0px;
  }

  .nav-button--green {
    background-color:#25C389;
    color: white;
    font-size: large;
    display: flex;
    text-align: left;
  }

  .nav-button--yellow {
    background-color:#FFB901;
    color: white;
    font-size: large;
      display: flex;
    text-align: left;
  }
  .nav-button--red {
    background-color: #DE6262;
    color: white;
    font-size: large;
    text-align: left;
      display: flex;
  }

  .nav-button--light-blue {
    background-color:  #19B2DE;
    color: white;
    font-size: large;
      display: flex;
    text-align: left;
  }

  .nav-button--dark-blue {
    background-color:  #265787;
    color: white;
    font-size: large;
      display: flex;
    text-align: left;
  }

/* -- 1.3 Main -- */
/*intro*/
  
.page-section-header {
    text-align: center;
}

/*services*/

.page-section {
    display: grid;
    row-gap: 2rem;
}

.blog-entry-heading,
.blog-entry-tags,
.blog-entry-date {
    color: rgba(255, 255, 255, 1);
}

/*blog*/


.blog-entry {
    position: relative;
    display: flex;
}

.blog-entry-date {
    text-align: center;
    position: absolute;
    background-color: rgba(216, 96, 95, 1);
    padding: 0.5rem;
    width: 30%;
    height: 20%;
    font-size: 1.5vw;
}

.blog-entry-heading {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1.5vw;
}

.blog-entry-tags {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3vw;
}

.blog-entry__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-entry-desc {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
    width: 100%;
    position: absolute;
    background-color: rgba(25, 178, 222, 1);
    padding-left: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

.blog-entry__icon {
    position: absolute;
    width: 10%;
    height: 35%;
    right: 5%;
    background-color: rgba(21, 150, 189, 1);
}

/*portfolio*/


.project-entry__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*clients*/


.client {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(243, 243, 243, 1);
}

.client-logo_image {
    width: 90%;
}

/* -- 1.4 Footer -- */
  .page-footer__container {
    background-color: #0E2E4E;
    color: white;
    position: relative;
  }


  
  /* Bio */
  .bio-portrait__image{
    border-radius: 50%;
  }

  .page-footer-section__bio {
    grid-area: bio;
  }

  .page-footer-divider {
    position: absolute;
    border: none;
    height: 4px;
    background-color: #FFB901;
    width: 30%;
    z-index: 5;
    align-self: end;
    justify-self: start;
  }

  /* About */
  .page-footer-section__about {
    grid-area: about;
  }

  .page-footer-section__about-inner {
    display: grid;
  }

  .page-footer-section-heading--yellow{
    color: #FFB901;
    border-bottom: 1.5px solid #21C183;
  }

  /* Social Media (Instagram) */
  .page-footer-section-heading--red{
    color: #DE6262;
    border-bottom: 1.5px solid #19B2DE;
  }

  .page-footer-section__social-media {
    grid-area: social-media;
  }

  .page-footer-section__social-media-inner {
    margin: 10px;
  }

  .social-media-posts{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 1rem;
  }

  .post,
  .social.media-post-link {
    height: 64px;
    width: 64px;
  }   

  /* Mastodon */
  .page-footer-section__mastodon {
    grid-area: mastodon;
    position: relative;
    margin-bottom: 4rem;
  }

  .page-footer-section-heading--light-blue{
    color: #19B2DE;
    border-bottom: 1.5px solid #FFB901;
    max-width: 100%;
  }

  /* Socials (Track us!) */
  .page-footer-section__socials {
    grid-area: socials;
  }

  .page-footer-section-heading--white{
    border-bottom: 1.5px solid #19B2DE;
  }

  .page-footer-section__socials-inner {
    margin: 10px;
  }

  .social-link__button{
    border-radius: 10%;
    border: none;
  }

  .social-link__button--dark-blue{
    background-color: #527CC4;
  }

  .social-link__button--red{
    background-color: #E46145;
  }

  .social-link__button--light-blue{
    background-color: #00B0E2;
  }

  .social-link__button--pink{
    background-color: #F6679C;
  }

  .social-link__button--yellow{
    background-color: #FFB901;
  }

  .social-links{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 1rem;
  }

  .social-link__button{
    width: 32px;
    height: 32px;
  }

  .social-email{
    position: relative;
  }
  
  .social-email-input{
    width: 100%;
    box-sizing: border-box;
    border: none;
    height: 32px;
    border-radius: 5px;
    font-size: 0.6rem;
    background-color: #DE6262;
  }

  .social-email-input::placeholder{
    color: white;
  }

  .social-email-submit__button {
    height: 32px;
    width: 32px;
    padding: 0;
    background-color: #FFB901;
    border: none;
    border-radius: 10%;
    position: absolute;
    right: 0;
  }

  .social-email-submit__icon{
    width: 50%;
    height: 50%;
    object-fit: cover;
  }


/* ---------------- 2. Media Query - Desktop ---------------- */
@media screen and (min-width: 1300px) {
/* -- 1.1 Header -- */


  .page-header__svglogo{
    margin-top: 10px;
  }

  .page-header__logo {
    height: 30px;
    display: flex;
    flex-direction: row;
    font-size: 36px;
    font-weight: bold;
    gap: 10px;
    margin-top: 20px;
  }

  .page-header__inner {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  .page-header__nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }

  .nav-button {
    width: 100%;
    text-align: center;
    padding: 15px;
    padding-top : 50px;
  }

  .page-banner {
    height: 40rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    background-image: url("/banner\ 1.png");
  }

  .page-banner__flags {
    position: absolute;
    margin-bottom: 8rem;
    margin-left: 3rem;
    padding-top: 250px;
  }

  .page-banner__flag {
    margin-top: 6px;
    padding: 1rem;
    list-style: none;
    background-color: #EDF4FB;
  }

  .page-banner__flag--dark-blue {
    border-left: 4px solid darkblue;
  }

  .page-banner__flag--red {
    border-left: 4px solid red;
  }

  .page-banner__flag--yellow {
    border-left: 4px solid yellow;
  }

  .nav-button {
    border: none;
    padding-top: 30px;
  }

  body {
    margin: 0px;
    padding: 0px;
  }

  .nav-button--green {
    background-color: #25C389;
    color: white;
  }

  .nav-button--yellow {
    background-color: #FFB901;
    color: white;
  }
  .nav-button--red {
    background-color: #DE6262;
    color: white;
  }

  .nav-button--light-blue {
    background-color: #19B2DE;
    color: white;
  }

  .nav-button--dark-blue {
    background-color: #265787;
    color: white;
  }

/* -- 1.2 Main -- */

    /*intro*/

    /*services*/

    .services {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1rem;
    }

    .service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service-desc {
        text-align: left;
        font-size: 1vw;
    }

    .service__icon {
        width: 30%;
    }

    .service-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*blog*/
    .blog {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
    }

    /*portfolio*/

    .projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
        row-gap: 3rem;
    }

    /*clients*/

    .client-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 2rem;
    }

    /* Container sizing */

    .page {
        padding-left: 5%;
        padding-right: 5%;
    }

    /* 
    .page-content {
        display: grid;
        grid-template-columns: 209px 1fr 209px;
        grid-template-rows: auto;
        row-gap: 2rem;
    } 
    */

/* -- 1.3 Footer -- */
  .page-footer__container {
    padding-top: 1rem;
    margin-top: 1rem;
    margin-left: -95px;
    margin-right: -95px;
  }

  .page-footer {
    display: grid;
    margin: 0 auto;
    max-width: 63%;
    grid-template-areas:
      "bio bio bio bio"
      "about social-media mastodon socials"
      "about social-media mastodon socials";
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-columns: 1fr 0.8fr 1.3fr 0.52fr;
    box-sizing: border-box;
  }

  .page-footer__container::after{
    position: absolute;
    content: "";
    width: 20%;
    height: 20px;
    bottom: 0px;
    left: 18%;
    background-image: linear-gradient(to right, #25C389 20%,
    #FFB901 20%, #FFB901 40%,
    #DE6262 40%, #DE6262 60%,
    #1691BD 60%, #1691BD 80%,
    #166BA2 80%);
    box-sizing: border-box;
  }

  /* Bio */
  .page-footer-section__bio-inner {
    display: grid;
    box-sizing: border-box;
    margin: 10px;
    height: 90%;
    width: 70%;
    padding-left: 5%;
    gap: 1.5rem;
    grid-template-columns: 120px auto;
  }

  .page-footer-divider{
    width: 10%;
  }

  /* Mastodon */
  .page-footer-section__mastodon-inner {
    display: grid;
  }

  .page-footer-section-heading--light-blue{
    max-width: 90%;
  }

  .mastodon-toots{
    font-size: 0.85rem;
  }
}


/* ---------------- 3. Media Query - Tablet ---------------- */
@media screen and (min-width: 600px) and (max-width: 1299px) {

/* -- 1.1 Header -- */
    .page-header__inner {
    flex-direction: column;
    align-items: center;
  }
    .page-banner {
    display: flex;
  }
  .page-banner__flags {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-125%, -90%);
        margin-bottom: 0;
        margin-left: 0;
  }

/* -- 1.2 Main -- */
    .services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }

    .service__icon {
        width: 205px;
        height: auto;
    }

    .service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service-desc {
        text-align: left;
        font-size: 2vw;
    }

    .service-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*blog*/

    .blog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem;
        column-gap: 3rem;
    }

    .blog :first-child {
        grid-column: 1 / -1;
    }

    /*portfolio*/

    .projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 3rem;
    }

    /*clients*/

    .client-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        row-gap: 2rem;
    }

    /* Container sizing */

    .page {
        padding-left: 5%;
        padding-right: 5%;
    }

/* -- 1.3 Footer -- */
  .page-footer {
    display: grid;
    margin: 0 auto;
    max-width: 90%;
    grid-template-areas:
      "bio bio bio bio"
      "about about social-media social-media"
      "mastodon mastodon mastodon socials";
    grid-template-rows: 0.5fr 0.7fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    gap: 1rem;
  }

  .page-footer__container{
    margin-top: 1rem;
    margin-left: -62px;
    margin-right: -62px;
  }

  .page-footer__container::after{
    position: absolute;
    content: "";
    width: 66%;
    height: 20px;
    bottom: 0px;
    left: 5%;
    background-image: linear-gradient(to right, #25C389 20%,
    #FFB901 20%, #FFB901 40%,
    #DE6262 40%, #DE6262 60%,
    #1691BD 60%, #1691BD 80%,
    #166BA2 80%);
    box-sizing: border-box;
  }

  /* Bio */
  .page-footer-section__bio-inner {
    display: grid;
    box-sizing: border-box;
    margin: 40px 10px 10px 10px;
    height: 65%;
    gap: 1.5rem;
    grid-template-columns: 120px auto;
    padding: 2rem;
  }

  .bio-story{
    max-width: 90%;
  }  

  .page-footer-divider{
    width: 20%;
  }

  /* Mastodon */
  .page-footer-section-heading--light-blue{
    max-width: 70%;
  }
  
}

/* ---------------- 4. Media Query - Mobile ---------------- */
@media screen and (max-width: 599px) {

/* -- 1.1 Header -- */
  .page-header__nav {
    display: none;
  }
  
/* -- 1.2 Main -- */
    /*intro*/

    /*services*/

    .services {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
        column-gap: 1rem;
    }

    .service {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .service-desc {
        text-align: left;
        font-size: 2.5vw;
        padding-left: 1rem;
        margin-top: 0%;
    }

    .service-heading {
        align-self: flex-start;
        padding-left: 1rem;
    }

    .service__icon {
        width: 20%;
    }

    .service-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*blog*/

    .blog {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 3rem;
        row-gap: 3rem;
    }

    .blog-entry-date {
        font-size: 5vw;
    }

    .blog-entry-heading {
        font-size: 5vw;
    }

    .blog-entry-tags {
        font-size: 4vw;
    }

    /*portfolio*/

    .projects {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 3rem;
        row-gap: 3rem;
    }

    /*clients*/
    .page-section__clients {
        display: none;
    }

/* -- 1.3 Footer -- */
  .page-footer-section__about,
  .page-footer-section__social-media{
    display: none;
  }

  .page-footer__container{
    margin-top: 4rem;
  }
  
  .page-footer {
    display: grid;
    margin: 0 auto;
    max-width: 90%;
    grid-template-areas:
      "bio bio"
      ".   socials"
      "mastodon mastodon";
    grid-template-columns: 1fr 2fr;
    box-sizing: border-box;
    gap: 2rem;
  }

  .page-footer::after{
    position: absolute;
    content: "";
    width: 85%;
    height: 20px;
    bottom: 0px;
    left: 5%;
    background-image: linear-gradient(to right, #25C389 20%,
    #FFB901 20%, #FFB901 40%,
    #DE6262 40%, #DE6262 60%,
    #1691BD 60%, #1691BD 80%,
    #166BA2 80%);
    box-sizing: border-box;
  }

  /* Bio */
  .page-footer-section__bio-inner {
    display: grid;
    box-sizing: border-box;
    height: auto;
    gap: 1.2rem;
    grid-template-columns: 1fr 2fr
  }

  .bio-portrait__image{
    margin-top: 16px;
  }
}
