/* Desktop */
@media screen and (min-width: 1300px) {
  /* ---------------------------- HEADER ---------------------------- */

  .page-header {
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 1fr;
    height: 100%;
    width: auto;
    gap: 20px;
  }

  .page-header__logo {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    font-size: 36px;
    font-weight: bold;
  }

  .page-header__inner {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: space-between;
  }

  .page-header__nav {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }

  .nav-button {
    width: 100%;
    text-align: center;
    padding: 15px;
  }

  .page-banner {
    height: 40rem;
    display: flex;
    align-items: flex-end;
    background-image: url("https://placehold.co/1466x531");
  }

  .page-banner__flags {
    margin-bottom: 16rem;
    margin-left: 3rem;
  }

  .page-banner__flag {
    margin-top: 6px;
    padding: 1rem;
    list-style: none;
    background-color: #ffffff;
  }

  .page-banner__flag--dark-blue {
    border-left: 4px solid darkblue;
  }

  .page-banner__flag--red {
    border-left: 4px solid red;
  }

  .page-banner__flag--yellow {
    border-left: 4px solid yellow;
  }

  .nav-button {
    border: none;
    padding-top: 30px;
  }

  body {
    margin: 0px;
    padding: 0px;
  }

  .nav-button--green {
    background-color: green;
    color: white;
  }

  .nav-button--yellow {
    background-color: yellow;
    color: white;
  }
  .nav-button--red {
    background-color: red;
    color: white;
  }

  .nav-button--light-blue {
    background-color: lightblue;
    color: white;
  }

  .nav-button--dark-blue {
    background-color: darkblue;
    color: white;
  }

  /* ----------------------------- MAIN ----------------------------- */

  /*intro*/

  .text-highlight--light-blue {
    color: rgba(30, 175, 222, 1);
  }

  .page-section-header {
    place-self: center;
    text-align: center;
    grid-column: 1 / -1;
  }

  .page-section {
    grid-column: 2 / 3;
  }

  /*services*/

  .page-section__services-inner {
    display: grid;
    row-gap: 2rem;
  }

  .services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
  }

  .service {
    text-align: center;
  }

  .service-desc {
    text-align: left;
  }

  /*blog*/

  .page-section__blog-inner {
    display: grid;
    row-gap: 2rem;
  }

  .blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
  }

  .blog-entry {
    position: relative;
  }

  .blog-entry-date {
    text-align: center;
    position: absolute;
    background-color: rgba(216, 96, 95, 1);
    padding: 0.5rem;
  }

  .blog-entry-heading,
  .blog-entry-tags {
    margin-top: 1rem;
    padding-bottom: 0%;
    margin-bottom: 0%;
  }

  .blog-entry-desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(25, 178, 222, 1);
    padding-left: 1rem;
  }

  .blog-entry__image {
    width: 100%;
  }

  .blog-entry__icon {
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: 1rem;
    align: auto;
    background-color: rgba(21, 150, 189, 1);
  }

  /*portfolio*/

  .page-section__portfolio-inner {
    display: grid;
    row-gap: 2rem;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 3rem;
  }

  /*clients*/

  .page-section__clients-inner {
    display: grid;
    row-gap: 2rem;
  }

  .client-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2rem;
  }

  .client {
    background-color: rgba(243, 243, 243, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Container sizing */

  .page {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .page-content {
    display: grid;
    grid-template-columns: 209px 1fr 209px;
    grid-template-rows: auto;
    row-gap: 2rem;
  }

  /* ---------------------------- FOOTER ---------------------------- */
  .page-footer__container {
    background-color: #0E2E4E;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-left: -160px;
    margin-right: -160px;
    color: white;
  }

  .page-footer {
    display: grid;
    margin: 0 auto;
    max-width: 63%;
    grid-template-areas:
      "bio bio bio bio"
      "about social-media mastodon socials"
      "about social-media mastodon socials";
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-columns: 1fr 0.8fr 1.3fr 0.52fr;
    box-sizing: border-box;
  }

  /* --------------- Bio --------------- */
  .bio-portrait__image{
    border-radius: 50%;
  }

  .page-footer-section__bio {
    grid-area: bio;
  }

  .page-footer-section__bio-inner {
    display: grid;
    box-sizing: border-box;
    margin: 10px;
    height: 90%;
    width: 70%;
    padding-left: 5%;
    gap: 1.5rem;
    grid-template-columns: 120px auto;
  }

  .page-footer-divider {
    display: none;
    position: absolute;
    border: none;
    height: 3px;
    background-color: black;
    width: 50%;
    z-index: 5;
    margin-top: 17.5rem;
  }

  /* --------------- About --------------- */
  .page-footer-section__about {
    grid-area: about;
  }

  .page-footer-section__about-inner {
    display: grid;
  }

  /* --------------- Social Media (Instagram) --------------- */

  .page-footer-section__social-media {
    grid-area: social-media;
  }

  .page-footer-section__social-media-inner {
    margin: 10px;
  }

  .social-media-posts{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 1rem;
  }

  .post,
  .social.media-post-link {
    height: 64px;
    width: 64px;
  }

  /* --------------- Mastodon --------------- */

  .page-footer-section__mastodon {
    grid-area: mastodon;
  }

  .page-footer-section__mastodon-inner {
    display: grid;
    margin: 10px;
  }

  .mastodon-toots{
    font-size: 0.85rem;
  }

  /* --------------- Socials (Track us!) --------------- */

  .page-footer-section__socials {
    grid-area: socials;
  }

  .page-footer-section__socials-inner {
    margin: 10px;
  }

  .social-links{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
        padding-top: 1rem;
  }

  .social-link__button{
    width: 32px;
    height: 32px;
  }

  .social-email{
    position: relative;
  }
  
  .social-email-input{
    width: 100%;
    box-sizing: border-box;
    border: none;
    height: 32px;
    border-radius: 7px;
    font-size: 0.6rem;
  }

  .social-email-submit__button {
    height: 32px;
    width: 32px;
    padding: 0;
    background-color: #FFB901;
    border: none;
    border-radius: 20%;

    position: absolute;
    right: 0;
  }

  .social-email-submit__icon{
    width: 50%;
    height: 50%;
    object-fit: cover;
  }
}

/* Tablet */
@media screen and (min-width: 600) and (max-width: 1299) {
  /* ---------------------------- HEADER ---------------------------- */

  /* ----------------------------- MAIN ----------------------------- */

  /* ---------------------------- FOOTER ---------------------------- */
}

/* Mobile */
@media screen and (max-width: 599) {
  /* ---------------------------- HEADER ---------------------------- */

  /* ----------------------------- MAIN ----------------------------- */

  /* ---------------------------- FOOTER ---------------------------- */
}
