/*All Screens*/
/* ----------------------------- MAIN ----------------------------- */
/*intro*/

.text-highlight--light-blue {
    color: rgba(30, 175, 222, 1);
}

.page-section-header {
    text-align: center;
}

/*services*/

.page-section {
    display: grid;
    row-gap: 2rem;
}

.blog-entry-heading,
.blog-entry-tags,
.blog-entry-date {
    color: rgba(255, 255, 255, 1);
}

/*blog*/


.blog-entry {
    position: relative;
    display: flex;
}

.blog-entry-date {
    text-align: center;
    position: absolute;
    background-color: rgba(216, 96, 95, 1);
    padding: 0.5rem;
    width: 30%;
    height: 20%;
    font-size: 1.5vw;
}

.blog-entry-heading {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1.5vw;
}

.blog-entry-tags {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3vw;
}

.blog-entry__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-entry-desc {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
    width: 100%;
    position: absolute;
    background-color: rgba(25, 178, 222, 1);
    padding-left: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

.blog-entry__icon {
    position: absolute;
    width: 10%;
    height: 35%;
    right: 5%;
    background-color: rgba(21, 150, 189, 1);
}

/*portfolio*/


.project-entry__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*clients*/


.client {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(243, 243, 243, 1);
}

.client-logo_image {
    width: 90%;
}


/* Desktop */
@media screen and (min-width: 1300px) {
    /* ---------------------------- HEADER ---------------------------- */

    .page-header {
        background-color: whitesmoke;
        display: grid;
        grid-template-rows: 1fr;
        height: 100%;
        width: auto;
        gap: 20px;
    }

    .page-header__logo {
        display: flex;
        align-items: flex-end;
        flex-direction: row;
        font-size: 36px;
        font-weight: bold;
    }

    .page-header__inner {
        display: flex;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        justify-content: space-between;
    }

    .page-header__nav {
        display: flex;
        justify-content: space-between;
        width: 40%;
    }

    .nav-button {
        width: 100%;
        text-align: center;
        padding: 15px;
    }

    .page-banner {
        height: 40rem;
        display: flex;
        align-items: flex-end;
        background-image: url("https://placehold.co/1466x531");
    }

    .page-banner__flags {
        margin-bottom: 16rem;
        margin-left: 3rem;
    }

    .page-banner__flag {
        margin-top: 6px;
        padding: 1rem;
        list-style: none;
        background-color: #ffffff;
    }

    .page-banner__flag--dark-blue {
        border-left: 4px solid darkblue;
    }

    .page-banner__flag--red {
        border-left: 4px solid red;
    }

    .page-banner__flag--yellow {
        border-left: 4px solid yellow;
    }

    .nav-button {
        border: none;
        padding-top: 30px;
    }

    body {
        margin: 0px;
        padding: 0px;
    }

    .nav-button--green {
        background-color: green;
        color: white;
    }

    .nav-button--yellow {
        background-color: yellow;
        color: white;
    }

    .nav-button--red {
        background-color: red;
        color: white;
    }

    .nav-button--light-blue {
        background-color: lightblue;
        color: white;
    }

    .nav-button--dark-blue {
        background-color: darkblue;
        color: white;
    }

    /* ----------------------------- MAIN ----------------------------- */

    /*intro*/

    /*services*/

    .services {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1rem;
    }

    .service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service-desc {
        text-align: left;
        font-size: 1vw;
    }

    .service__icon {
        width: 30%;
    }

    .service-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    /*blog*/

    .blog {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
    }


    /*portfolio*/

    .projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
        row-gap: 3rem;
    }

    /*clients*/

    .client-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 2rem;
    }




    /* Container sizing */

    .page {
        padding-left: 5%;
        padding-right: 5%;
    }

    /* 
    .page-content {
        display: grid;
        grid-template-columns: 209px 1fr 209px;
        grid-template-rows: auto;
        row-gap: 2rem;
    } 
    */

    /* ---------------------------- FOOTER ---------------------------- */
    .page-footer__container {
        background-color: rgb(190, 232, 232);
    }

    .page-footer {
        display: grid;
        margin: 0 auto;
        padding-left: 10rem;
        padding-right: 10rem;
        /* height: 795px; */
        grid-template-areas:
            "bio bio bio bio"
            "about social-media mastodon socials"
            "about social-media mastodon socials";
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1.3fr 0.7fr;
        box-sizing: border-box;
    }

    /* --------------- Bio --------------- */
    .page-footer>.page-footer-section__bio {
        background-color: rgb(235, 135, 135);
        border: 1px solid black;
        grid-area: bio;
    }

    .page-footer-section__bio-inner {
        background-color: rgb(202, 174, 227);
        display: grid;
        box-sizing: border-box;
        margin: 10px;
        height: 90%;
        width: 65%;
        grid-template-columns: 120px auto;
    }

    .page-footer-divider {
        position: absolute;
        border: none;
        height: 3px;
        background-color: black;
        width: 50%;
        z-index: 5;
        margin-top: 17.5rem;
    }

    /* --------------- About --------------- */
    .page-footer>.page-footer-section__about {
        background-color: rgb(235, 135, 135);
        border: 1px solid black;
        grid-area: about;
    }

    .page-footer-section__about-inner {
        background-color: rgb(202, 174, 227);
        display: grid;
        margin: 10px;
    }

    /* --------------- Social Media (Instagram) --------------- */

    .page-footer>.page-footer-section__social-media {
        background-color: rgb(235, 135, 135);
        border: 1px solid black;
        grid-area: social-media;
    }

    .page-footer-section__social-media-inner {
        background-color: rgb(202, 174, 227);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* grid-auto-rows: 64px; */
        margin: 10px;
    }

    .page-footer-section-heading {
        grid-column: span 3;
    }

    .post,
    .social.media-post-link {
        height: 64px;
        width: 64px;
        grid-column: 1;
    }

    /* --------------- Mastodon --------------- */

    .page-footer>.page-footer-section__mastodon {
        background-color: rgb(235, 135, 135);
        border: 1px solid black;
        grid-area: mastodon;
        font-size: 0.85rem;
    }

    .page-footer-section__mastodon-inner {
        background-color: rgb(202, 174, 227);
        display: grid;
        margin: 10px;
    }

    /* --------------- Socials (Track us!) --------------- */

    .page-footer>.page-footer-section__socials {
        background-color: rgb(235, 135, 135);
        border: 1px solid black;
        grid-area: socials;
    }

    .page-footer-section__socials-inner {
        background-color: rgb(202, 174, 227);
        display: grid;
        margin: 10px;
    }
}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1299px) {
    /* ---------------------------- HEADER ---------------------------- */

    /* ----------------------------- MAIN ----------------------------- */

    /*intro*/

    /*services*/

    .services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }

    .service__icon {
        width: 205;
        height: auto;
    }

    .service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service-desc {
        text-align: left;
        font-size: 2vw;
    }

    .service-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*blog*/

    .blog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem;
        column-gap: 3rem;
    }

    .blog :first-child {
        grid-column: 1 / -1;
    }

    /*portfolio*/

    .projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 3rem;
    }

    /*clients*/

    .client-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        row-gap: 2rem;
    }

    /* Container sizing */

    .page {
        padding-left: 5%;
        padding-right: 5%;
    }

    /* ---------------------------- FOOTER ---------------------------- */
}

/* Mobile */
@media screen and (max-width: 599px) {
    /* ---------------------------- HEADER ---------------------------- */

    /* ----------------------------- MAIN ----------------------------- */

    /*intro*/

    /*services*/

    .services {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
        column-gap: 1rem;
    }

    .service {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .service-desc {
        text-align: left;
        font-size: 2.5w;
        padding-left: 1rem;
        margin-top: 0%;
    }

    .service-heading {
        align-self: flex-start;
        padding-left: 1rem;
    }

    .service__icon {
        width: 20%;
    }

    .service-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*blog*/

    .blog {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 3rem;
        row-gap: 3rem;
    }

    .blog-entry-date {
        font-size: 5vw;
    }

    .blog-entry-heading {
        font-size: 5vw;
    }

    .blog-entry-tags {
        font-size: 4vw;
    }

    /*portfolio*/

    .projects {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 3rem;
        row-gap: 3rem;
    }

    /*clients*/
    .page-section__clients {
        display: none;
    }

    /* ---------------------------- FOOTER ---------------------------- */
}