
/* Header universal */
.text-highlight--light-blue {
    color: rgba(30, 175, 222, 1);

  }

.page-header {
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
  }

  .page-header__logo {
    display: flex;
    font-size: 36px;
    font-weight: bold;
    gap: 10px;
    align-items: center;
  }

  .page-header__inner {
    display: flex;
    
  }

  .page-header__nav {
    display: flex;
    width: 100%;
  }

  .nav-button {
    width: 100%;
    text-align: center;
    padding: 15px;
  }

  .page-banner {
    height: 40rem;
    display: none;
    align-items: flex-end;
    background-image: url("/banner\ 1.png"); 
    background-position: center;  
    background-size: contain;      
    width: 100%;
  }

  img{
    width: 100%;
  }

  .page-banner__flags {
    position: absolute;
    margin-bottom: 16rem;
    margin-left: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .page-banner__flag {
    margin-top: 6px;
    padding: 1rem;
    list-style: none;
    background-color: #EDF4FB;
  }

  .page-banner__flag--dark-blue {
    border-left: 4px solid darkblue;
  }

  .page-banner__flag--red {
    border-left: 4px solid red;
  }

  .page-banner__flag--yellow {
    border-left: 4px solid yellow;
  }

  .nav-button {
    border: none;
    padding-top: 30px;
  }

  body {
    margin: 0px;
    padding: 0px;
  }

  .nav-button--green {
    background-color:#25C389;
    color: white;
    font-size: large;
    display: flex;
    text-align: left;
  }

  .nav-button--yellow {
    background-color:#FFB901;
    color: white;
    font-size: large;
      display: flex;
    text-align: left;
  }
  .nav-button--red {
    background-color: #DE6262;
    color: white;
    font-size: large;
    text-align: left;
      display: flex;
    text-align: left;
  }

  .nav-button--light-blue {
    background-color:  #19B2DE;
    color: white;
    font-size: large;
      display: flex;
    text-align: left;
  }

  .nav-button--dark-blue {
    background-color:  #265787;
    color: white;
    font-size: large;
      display: flex;
    text-align: left;
  }

/* Desktop */
@media screen and (min-width: 1300px) {
  /* ---------------------------- HEADER ---------------------------- */

  .page-header__svglogo{
    margin-top: 10px;
  }

  .page-header__logo {
    height: 30px;
    display: flex;
    flex-direction: row;
    font-size: 36px;
    font-weight: bold;
    gap: 10px;
    margin-top: 20px;
  }

  .page-header__inner {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  .page-header__nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }

  .nav-button {
    width: 100%;
    text-align: center;
    padding: 15px;
    padding-top : 50px;
  }

  .page-banner {
    height: 40rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    background-image: url("/banner\ 1.png");
  }

  .page-banner__flags {
    position: absolute;
    margin-bottom: 8rem;
    margin-left: 3rem;
    padding-top: 250px;
  }

  .page-banner__flag {
    margin-top: 6px;
    padding: 1rem;
    list-style: none;
    background-color: #EDF4FB;
  }

  .page-banner__flag--dark-blue {
    border-left: 4px solid darkblue;
  }

  .page-banner__flag--red {
    border-left: 4px solid red;
  }

  .page-banner__flag--yellow {
    border-left: 4px solid yellow;
  }

  .nav-button {
    border: none;
    padding-top: 30px;
  }

  body {
    margin: 0px;
    padding: 0px;
  }

  .nav-button--green {
    background-color: #25C389;
    color: white;
  }

  .nav-button--yellow {
    background-color: #FFB901;
    color: white;
  }
  .nav-button--red {
    background-color: #DE6262;
    color: white;
  }

  .nav-button--light-blue {
    background-color: #19B2DE;
    color: white;
  }

  .nav-button--dark-blue {
    background-color: #265787;
    color: white;
  }

  /* ----------------------------- MAIN ----------------------------- */

  /*intro*/

  .text-highlight--light-blue {
    color: rgba(30, 175, 222, 1);
  }

  .page-section-header {
    place-self: center;
    text-align: center;
    grid-column: 1 / -1;
  }

  .page-section {
    grid-column: 2 / 3;
  }

  /*services*/

  .page-section__services-inner {
    display: grid;
    row-gap: 2rem;
  }

  .services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
  }

  .service {
    text-align: center;
  }

  .service-desc {
    text-align: left;
  }

  /*blog*/

  .page-section__blog-inner {
    display: grid;
    row-gap: 2rem;
  }

  .blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
  }

  .blog-entry {
    position: relative;
  }

  .blog-entry-date {
    text-align: center;
    position: absolute;
    background-color: rgba(216, 96, 95, 1);
    padding: 0.5rem;
  }

  .blog-entry-heading,
  .blog-entry-tags {
    margin-top: 1rem;
    padding-bottom: 0%;
    margin-bottom: 0%;
  }

  .blog-entry-desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(25, 178, 222, 1);
    padding-left: 1rem;
  }

  .blog-entry__image {
    width: 100%;
  }

  .blog-entry__icon {
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: 1rem;
    align: auto;
    background-color: rgba(21, 150, 189, 1);
  }

  /*portfolio*/

  .page-section__portfolio-inner {
    display: grid;
    row-gap: 2rem;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 3rem;
  }

  /*clients*/

  .page-section__clients-inner {
    display: grid;
    row-gap: 2rem;
  }

  .client-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2rem;
  }

  .client {
    background-color: rgba(243, 243, 243, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Container sizing */

  .page {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .page-content {
    display: grid;
    grid-template-columns: 209px 1fr 209px;
    grid-template-rows: auto;
    row-gap: 2rem;
  }

  /* ---------------------------- FOOTER ---------------------------- */
  .page-footer__container {
    background-color: rgb(190, 232, 232);
  }

  .page-footer {
    display: grid;
    margin: 0 auto;
    padding-left: 10rem;
    padding-right: 10rem;
    /* height: 795px; */
    grid-template-areas:
      "bio bio bio bio"
      "about social-media mastodon socials"
      "about social-media mastodon socials";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1.3fr 0.7fr;
    box-sizing: border-box;
  }

  /* --------------- Bio --------------- */
  .page-footer > .page-footer-section__bio {
    background-color: rgb(235, 135, 135);
    border: 1px solid black;
    grid-area: bio;
  }

  .page-footer-section__bio-inner {
    background-color: rgb(202, 174, 227);
    display: grid;
    box-sizing: border-box;
    margin: 10px;
    height: 90%;
    width: 65%;
    grid-template-columns: 120px auto;
  }

  .page-footer-divider {
    position: absolute;
    border: none;
    height: 3px;
    background-color: black;
    width: 50%;
    z-index: 5;
    margin-top: 17.5rem;
  }

  /* --------------- About --------------- */
  .page-footer > .page-footer-section__about {
    background-color: rgb(235, 135, 135);
    border: 1px solid black;
    grid-area: about;
  }

  .page-footer-section__about-inner {
    background-color: rgb(202, 174, 227);
    display: grid;
    margin: 10px;
  }

  /* --------------- Social Media (Instagram) --------------- */

  .page-footer > .page-footer-section__social-media {
    background-color: rgb(235, 135, 135);
    border: 1px solid black;
    grid-area: social-media;
  }

  .page-footer-section__social-media-inner {
    background-color: rgb(202, 174, 227);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-auto-rows: 64px; */
    margin: 10px;
  }

  .page-footer-section-heading {
    grid-column: span 3;
  }

  .post,
  .social.media-post-link {
    height: 64px;
    width: 64px;
    grid-column: 1;
  }

  /* --------------- Mastodon --------------- */

  .page-footer > .page-footer-section__mastodon {
    background-color: rgb(235, 135, 135);
    border: 1px solid black;
    grid-area: mastodon;
    font-size: 0.85rem;
  }

  .page-footer-section__mastodon-inner {
    background-color: rgb(202, 174, 227);
    display: grid;
    margin: 10px;
  }

  /* --------------- Socials (Track us!) --------------- */

  .page-footer > .page-footer-section__socials {
    background-color: rgb(235, 135, 135);
    border: 1px solid black;
    grid-area: socials;
  }

  .page-footer-section__socials-inner {
    background-color: rgb(202, 174, 227);
    display: grid;
    margin: 10px;
  }
}

  

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1299px) {
  /* ---------------------------- HEADER ---------------------------- */
    .page-header__inner {
    flex-direction: column;
    align-items: center;
  }
    .page-banner {
    display: flex;
  }
  .page-banner__flags {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-125%, -90%);
        margin-bottom: 0;
        margin-left: 0;
  }
  /* ----------------------------- MAIN ----------------------------- */

  /* ---------------------------- FOOTER ---------------------------- */
}

/* Mobile */
@media screen and (max-width: 599px) {
  /* ---------------------------- HEADER ---------------------------- */
  .page-header__nav {
    display: none;
  }
  /* ----------------------------- MAIN ----------------------------- */

  /* ---------------------------- FOOTER ---------------------------- */
}
