.page-footer {
  display: grid;
  width: 100%;
  margin: 0 auto;
  padding-left: 10rem;
  padding-right: 10rem;
  /* height: 795px; */
  background-color: rgb(190, 232, 232);
  grid-template-areas: 
  "bio bio bio bio"
  "about social-media mastodon socials"
  "about social-media mastodon socials";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1.3fr 0.7fr;
  box-sizing: border-box;
}

/* --------------- Bio --------------- */
.page-footer > .page-footer-section__bio {
  background-color: rgb(235, 135, 135);
  border: 1px solid black;
  grid-area: bio;
}

.page-footer-section__bio-inner{
  background-color: rgb(202, 174, 227);
  display: grid;
  box-sizing: border-box;
  margin: 10px;
  height: 90%;
  width: 65%;
  grid-template-columns: 120px auto;
}

.page-footer-divider{
  position: absolute;
  border: none;
  height: 3px;
  background-color: black;
  width: 50%;
  z-index: 5;
  margin-top: 17.5rem;
}

/* --------------- About --------------- */
.page-footer > .page-footer-section__about {
  background-color: rgb(235, 135, 135);
  border: 1px solid black;
  grid-area: about;
}

.page-footer-section__about-inner{
  background-color: rgb(202, 174, 227);
  display: grid;
  margin: 10px;
}

/* --------------- Social Media (Instagram) --------------- */

.page-footer > .page-footer-section__social-media {
  background-color: rgb(235, 135, 135);
  border: 1px solid black;
  grid-area: social-media;
  
}

.page-footer-section__social-media-inner{
  background-color: rgb(202, 174, 227);
  display: grid;
  margin: 10px;
}

/* --------------- Mastodon --------------- */

.page-footer > .page-footer-section__mastodon {
  background-color: rgb(235, 135, 135);
  border: 1px solid black;
  grid-area: mastodon;
  font-size: 0.85rem;
}

.page-footer-section__mastodon-inner{
  background-color: rgb(202, 174, 227);
  display: grid;
  margin: 10px;
}

/* --------------- Socials (Track us!) --------------- */

.page-footer > .page-footer-section__socials {
  background-color: rgb(235, 135, 135);
  border: 1px solid black;
  grid-area: socials;
}

.page-footer-section__socials-inner{
  background-color: rgb(202, 174, 227);
  display: grid;
  margin: 10px;
}





/* ----------- FOR DEV PURPOSES ----------- */